@import "node_modules/ol/ol.css";
@import "node_modules/ol-ext/dist/ol-ext.css";

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}
#map .ol-mouse-position {
  bottom: 8px;
  top: auto;
}

.form_input {
  border: 0.1rem solid #8c9da2;
  border-radius: 0.5rem;
  height: 1.5rem;
  margin: 0.3rem 0 1rem;
}

.registerForm .ol-title h2 {
  color: rgba(0, 60, 136, 1);
}
